<div class="network-page">
  <div class="network-table">
    <div class="network-table-context">
      <div class="network-table-title">
        <i class="emblem-recent"></i>
        <span>Recent transaction</span>
      </div>
      <div class="network-table-header table-row">
        <div class="table-column network-column-type">Type</div>
        <div class="table-column network-column-time">Time</div>
        <div class="table-column network-column-sender">Sender</div>
        <div class="table-column network-column-volume">Volume</div>
      </div>
      <div class="network-table-items">
        <cdk-virtual-scroll-viewport [itemSize]="50" (scroll)="onScroll($event)">
          <div *cdkVirtualFor="let network of networkList" class="table-row">
            <div class="table-column network-column-type">
              <div class="cell-content">
                <span [ngClass]="network.type">{{network.type}}</span>
              </div>
            </div>
            <div class="table-column network-column-time">
              <div class="cell-content">
                <span>{{network.time | date: 'MMM dd yyyy, hh:mm'}}</span>
              </div>
            </div>
            <div class="table-column network-column-sender">
              <div class="cell-content">
                <span>{{getFirstChars(network.sender)}}</span>
                <span>{{getLastChars(network.sender)}}</span>
              </div>
            </div>
            <div class="table-column network-column-volume">
              <div class="cell-content">
                <span>{{network.volume || 0}}</span>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>
