* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: #3e4247;
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  justify-content: center;
  margin: 0;
  padding: 5rem;
}
